<div class="page-header  authentication sidebar-collapse">
  <div class="page-header-image" style="background-image:url(assets/images/login.jpg)"></div>
  <div class="container">
    <div class="col-md-12 content-center">
      <div class="card-plain">
        <form class="form" (ngSubmit)="Submit()">
          <div class="header">
            <div class="logo-container">
              <img src="assets/images/logo-orange.png" alt="">
            </div>
            <h5>Forgot Password?</h5>
            <span>Enter your e-mail address below to reset your password.</span>
          </div>
          <div class="content">
            <div class="input-group input-lg">
              <input type="text" class="form-control" placeholder="Enter Email" [(ngModel)]="formData.Email"
                [ngModelOptions]="{standalone: true}">
              <span class="input-group-addon">
                <i class="zmdi zmdi-email"></i>
              </span>
            </div>
          </div>
          <div class="footer text-center">
            <button class="btn btn-doctory btn-round btn-lg btn-block waves-effect waves-light">SUBMIT</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Reset your password</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="col-md-12 content-center">
        <div class="card-plain">
          <form class="form" (ngSubmit)="ResetPass()">
            <div class="header">

              <h5>Reset Password?</h5>
              <span>Enter verfication code and reset your password.</span>
            </div>
            <div class="content">
              <div class="input-group input-lg">
                <input type="text" class="form-control" placeholder="Enter VerfiyCode" [(ngModel)]="formData.VerfiyCode"
                  [ngModelOptions]="{standalone: true}">
                <span class="input-group-addon">
                  <i class="zmdi zmdi-puzzle-piece"></i>
                </span>
              </div>
              <div class="input-group input-lg">
                <input type="password" class="form-control" placeholder="Enter NewPassword" [(ngModel)]="formData.NewPassword"
                  [ngModelOptions]="{standalone: true}">
                <span class="input-group-addon">
                  <i class="zmdi zmdi-lock"></i>
                </span>
              </div>
            </div>
            <div class="footer text-center">
              <button class="btn btn-doctory btn-round btn-lg btn-block waves-effect waves-light">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      Cancel
    </button>
  </div>
</ng-template>
